nose2
setuptools==58.2.0  # bit.ly/3ESknsR
spacy>=3.0.0,<4.0.0
torch
torchtext

#en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0-py3-none-any.whl
#fr_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.3.0/fr_core_news_sm-3.3.0-py3-none-any.whl
